<!-- Blog Pagination -->
    <div class="page-pagination text-center mt-30 p-10 panel">
        <nav>
            <!-- Page Pagination -->
            <ul class="page-pagination">
                {% if posts.has_previous %}
                <li>
                    <a class="page-numbers previous" href="?page={{ posts.previous_page_number }}"><</a>
                </li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li><span class="page-numbers current">{{ i }}</span></li>
                    {% else %}
                        <!-- For the 1st page we do not use ?page=1 -->
                        {% if i == 1 %}
                            <li><a href="?page={{ i }}" class="page-numbers ">{{ i }}</a></li>

                        {% else %}
                            <!-- Show current page and +-3 pages -->
                            {% if i|add:"-3" <= posts.number and posts.number <= i|add:"3" %}
                                <li><a href="?page={{ i }}" class="page-numbers ">{{ i }}</a></li>

                            <!-- Shows every 10th page and the last page -->
                            {% elif i|divisibleby:"10" or i == posts.paginator.num_pages %}
                                <li><a href="?page={{ i }}" class="page-numbers ">{{ i }}</a></li>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}" class="page-numbers next">></a></li>
                {% endif %}
            </ul>
            <!-- End Page Pagination -->
        </nav>
    </div>
    <!-- End Blog Pagination -->