{% extends 'base.html' %}

{% block title %}
    {{ post.title|capfirst }} - {{ block.super }}
{% endblock %}

{% block content %}

<!-- Blog Area -->
<div class="blog-area blog-single-post">
    <div class="row row-tb-20">

        <!-- Blog Post -->
        <div class="blog-post col-xs-12">
            <article class="entry panel">
                <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/blog/blog_01.jpg">
                    <div class="entry-date">
                        <h4>{{ post.publish|date:'d' }}</h4>
                        <h6>{{ post.publish|date:'M' }}</h6>
                    </div>
                </figure>
                <div class="entry-wrapper prl-20 prl-md-30 pt-20 pt-md-30 pb-15">
                    <header class="entry-header">
                        <h4 class="entry-title mb-10 mb-md-15">
                            {{ post.title }}
                        </h4>
                        <div class="entry-meta mb-10">
                            <ul class="tag-info list-inline">
                                <li><i class="icon fa fa-user"></i>{{ post.author }}</li>
                                <li><i class="icon fa fa-comments"></i>
                                    <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div class="entry-content">
                        <p class="mb-20">{{ post.content|linebreaks }}</p>
                    </div>
                    <!-- .entry-wrapper -->
                    <footer class="entry-footer">
                        <div class="blog-post-tags ptb-20">
                            <ul>
                                <li>Tags :</li>
                                {% for tag in tags %}
                                <li>
                                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul class="share-buttons ptb-20">
                            <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a>
                            </li>
                            <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a>
                            </li>
                            <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a>
                            </li>
                            <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </article>
            <!--<ul class="posts-nav ptb-40 mb-20">
                <li class="next-post">
                    <a href="#"><i class="fa fa-angle-right"></i>
        <span>Next Post</span>
        Perspiciatis architecto magnam.</a>
                </li>
                <li class="prev-post">
                    <a href="#"><i class="fa fa-angle-left"></i>
        <span>Previous Post</span>
        Tempore velit atque porro ?</a>
                </li>
            </ul>-->
        </div>
        <!-- End Blog Post -->

        <!-- Post Author -->
        <!--<div class="col-xs-12">
            <div class="post-author-area panel media p-20">
                <figure class="media-left">
                    <img class="media-object" src="assets/images/avatars/blog_author.jpg" alt="">
                </figure>
                <div class="media-body">
                    <h3>John Doe</h3>
                    <h5>Developper And Designer</h5>
                    <p class="color-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil doloribus, dignissimos, sunt doloremque possimus quasi, aliquam impedit facere tempora ullam nemo minus dicta dolor! Dicta quisquam.</p>
                    <ul class="social-icons list-inline">
                        <li class="social-icons__item">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social-icons__item">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="social-icons__item">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="social-icons__item">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="social-icons__item">
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
        <!-- End Post Author -->

        <!-- Related Posts -->
        <div class="col-xs-12">

            <div class="related-posts panel pt-20 pb-30 prl-20">

                <h3 class="related-posts-title h-title mb-30">Related Posts</h3>

                <div class="row">
                    {% for post in similar_posts %}
                    <div class="col-sm-4">
                        <a href="{{ post.get_absolute_url }}">
                            <figure class="mb-10">
                                <img src="assets/images/blog/post_10.jpg" alt="">
                            </figure>
                            <p class="font-14">{{ post.title }}</p>
                        </a>
                    </div>
                {% empty %}
                    There are no similar posts yet.{% endfor %}
                </div>

            </div>
        </div>
        <!-- End Related Posts -->



    </div>
</div>
<!-- End Blog Area -->

{% endblock %}